{% extends 'layouts/_default.twig' %}

{% block pageName %}View All Galaxies{% endblock %}

{% block main %}
<h1>All galaxies:</h1>
    <ul>
    {% for galaxy in galaxies %}
        <li>
            {{ galaxy.name }} - 
            <a href="galaxies/{{ galaxy.id }}">show</a> | 
            <a href="galaxies/{{ galaxy.id }}/edit">Edit</a> | 
            <a href="galaxies/{{ galaxy.id }}/delete">Delete</a>
        </li>
    {% endfor %}
    </ul>

<a href="galaxies/new">Create New Galaxy</a>
{% endblock %}