{% extends 'layouts/_default.twig' %}

{% block pageName %}View All Planets{% endblock %}

{% block main %}
<h1>All planets:</h1>
    <ul>
    {% for planet in planets %}
        <li>
            {{ planet.name }} - 
            <a href="planets/{{ planet.id }}">show</a> | 
            <a href="planets/{{ planet.id }}/edit">Edit</a> | 
            <a href="planets/{{ planet.id }}/delete">Delete</a>
        </li>
    {% endfor %}
    </ul>

<a href="planets/new">Create New Planet</a>
{% endblock %}